Histopatología/
JSONS/
IMAGENES/
sqlc/
views/*.go
diagnosticos_mal_procesados.txt
/venv
ProcesadoJsons/prueba/
./main
__pycache__/
*.py[cod]
*$py.class
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
application/ArchivosTemporales/
