package views

import "RATAC/domain"
import "fmt"
import "strconv"

templ ShowResultados(pacientes []domain.Paciente, resultados_total int16, offset int8, filtros_avanzados bool) {
      <div class="container">
            <div class="results-card">
                  <div class="results-info" id="results-info">
                        <span>{len(pacientes)}</span> de <strong class="highlight">{resultados_total}</strong> RESULTADOS MOSTRADOS
                  </div>
            </div>
            <div id="cards-grid">
                  @generateCards(pacientes)
            </div>
 
            <div class="container-mostrar-mas" id="container-mostrar-mas">
                  @botonMostrarMas(resultados_total, offset, filtros_avanzados)
            </div>
      </div>
}

templ ListPacientes(pacientes []domain.Paciente, resultados_total int16, offset int8, filtros_avanzados bool) {
      @resultadosMostrados(len(pacientes), resultados_total, offset)
      
      @generateCards(pacientes)

      <div class="container-mostrar-mas" id="container-mostrar-mas" hx-swap-oob="true">
            @botonMostrarMas(resultados_total, offset, filtros_avanzados)
      </div>

}

templ generateCards(pacientes []domain.Paciente) {
      for _, p := range pacientes {
            <article class="case-card" hx-get={fmt.Sprintf("/paciente/protocolo/%s", p.Protocolo)} hx-target=".container" hx-swap="innerHTML" hx-push-url="true">
                  <div class="top-info">
                        <div class="card-header">
                              <span class="protocol-chip">{p.Protocolo}</span>
                              <span class="date-label">{p.Fecha}</span>
                        </div>
                        <div class="patient-info">
                              <span class="patient-name">{p.NombrePaciente}</span>
                              <span class="species-breed">{GetValue(p.Especie)} • {GetValue(p.Raza)}</span>
                        </div>
                  </div>
                  <div class="data-grid">
                        <div class="data-item">
                              <span class="data-label">Solicitante</span>
                              <span class="data-value">{p.Solicitante}</span>
                        </div>
                        <div class="data-item">
                              <span class="data-label">Técnica</span>
                              <span class="data-value">{p.Tecnica}</span>
                        </div>
                        <div class="data-item">
                              <span class="data-label">Edad</span>
                              <span class="not-specified">{GetValue(p.Edad)}</span>
                        </div>
                        <div class="data-item grade-cell">
                              <span class="data-label">Grado Tumoral</span>
                              if grado_tumoral := getMaxGradoTumoral(p.Descripciones_microscopicas); grado_tumoral == 0 {
                                    <span class="not-specified">No definido</span>
                              } else if grado_tumoral == 1 {
                                    <div class="grade-pill g1">
                                          <span class="pill-dot"></span>
                                          Grado I
                                    </div>
                              } else if grado_tumoral == 2 {
                                    <div class="grade-pill g2">
                                          <span class="pill-dot"></span>
                                          Grado II
                                    </div>
                              } else if grado_tumoral == 3 {
                                    <div class="grade-pill g3">
                                          <span class="pill-dot"></span>
                                          Grado III
                                    </div>
                              }
                        </div>
                  </div>
            </article>
      }
}

templ botonMostrarMas(resultados_total int16, offset int8, filtros_avanzados bool) {
      if (resultados_total - int16(offset) > domain.LIMIT_RESULTADOS_PACIENTE){
            if (filtros_avanzados){
                  <button 
                        class="btn-mostrar-mas"
                        hx-post="."
                        hx-on::config-request="event.detail.path = window.location.pathname + window.location.search"
                        hx-ext="json-enc" 
                        hx-vals='js:{filtros: setFiltros(), offset: getOffset()}' 
                        hx-target="#cards-grid"
                        hx-swap="beforeend"
                        >Mostrar más resultados
                  </button>
            }else{
                  <button 
                        class="btn-mostrar-mas"
                        hx-get="."
                        hx-on::config-request="event.detail.path = window.location.pathname + window.location.search"
                        hx-vals={fmt.Sprintf("js:{offset: %d}", offset + domain.LIMIT_RESULTADOS_PACIENTE)}
                        hx-target="#cards-grid"
                        hx-swap="beforeend"
                        >Mostrar más resultados
                  </button>
            }
      }
}

templ resultadosMostrados(cant_pacientes int, resultados_total int16, offset int8) {
      <div class="results-info" id="results-info" hx-swap-oob="true">
            <span>{offset + int8(cant_pacientes)}</span> de <strong class="highlight">{resultados_total}</strong> RESULTADOS MOSTRADOS
      </div>     
}

func getMaxGradoTumoral(desc_micros []domain.Descripcion_microscopicas) int8 {
      var aux int8 = 0
      for _, desc := range desc_micros {
            for _, tabla := range desc.TablaGrado{
                  puntaje, _ := strconv.Atoi(tabla.Puntaje)
                  if int8(puntaje) > aux {
                        aux = int8(puntaje)
                  }
            }
      }
      return aux
}
